<div class="container my-5">
  <h1 class="mb-3">Add New Contact</h1>
  <div class="row">
    <div class="col-6">
      <form [formGroup]="userForm" (ngSubmit)="addContact()">
        <div class="mb-3">

          <label for="firstname" class="form-label">Firstname</label>
          <input type="text"
          class="form-control"
          id="firstname"
          placeholder="Firstname"
          formControlName="firstname"
          >
          <span *ngIf="userForm.get('firstname')?.touched && !userForm.get('firstname')?.valid">Please enter firstname</span>
        </div>
        <div class="mb-3">
          <label for="lastname" class="form-label">Lastname</label>
          <input type="text"
          class="form-control"
          id="lastname"
          placeholder="Lastname"
          formControlName="lastname"
          >
          <span *ngIf="userForm.get('lastname')?.touched && !userForm.get('lastname')?.valid">Please enter lastname</span>
        </div>
        <div formArrayName="numbers">
          <div class="form-group" *ngFor="let num of numbersControl; let i = index">

          <label for="phone" class="form-label">Phone number {{i+1}}</label>
          <input type="text"
          class="form-control"
          id="phone"
          placeholder="Phone number"
          [formControlName]="i"
          >
          </div>
          <div>
            <button type="button" (click)="addNumber()" class="btn btn-sm btn-success">Add Phone Number</button>
          </div>
        </div>
        <div class="mb-3">
          <label for="adress" class="form-label">Adress</label>
          <input type="text"
          class="form-control"
          id="adress"
          placeholder="Adress"
          formControlName="address"
          >
          <div *ngIf="userForm.get('numbers')?.touched">
              <span *ngIf="userForm.get('numbers')?.errors?.['required']">Please enter email</span>
          </div>
        </div>
        <div formArrayName="emails">
          <div class="form-group" *ngFor="let em of emailsControl; let i = index">

          <label for="email" class="form-label">Email {{i+1}}</label>
          <input type="text"
          class="form-control"
          id="email"
          placeholder="Email"
          [formControlName]="i"
          >
          <div *ngIf="userForm.get('emails')?.touched">
            <span *ngIf="userForm.get('emails')?.errors?.['email']">Please enter valid email</span>
        </div>
          </div>
          <div>
            <button type="button" (click)="addEmail()" class="btn btn-sm btn-success">Add Email</button>
          </div>
        </div>
        <div>
        <select class="form-select"
          formControlName="tag">
          <option selected>Choose a Tag</option>
          <option value="Friend">Friend</option>
          <option value="Family">Family</option>
          <option value="Wife">Wife</option>
          <option value="Husband">Husband</option>
          <option value="Sister">Sister</option>
          <option value="Brother">Brother</option>
        </select>
        </div>
      <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

  </div>


</div>
